## Visual Studio temporary files
.vs/
bin/
obj/

## User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

## NuGet Packages
*.nupkg
packages/
*.nuget.props
*.nuget.targets

## Visual Studio cache/options directory
.vs/

## Rider
.idea/

## Visual Studio Code
.vscode/

## Local History
.localhistory/

## Windows image file caches
Thumbs.db
ehthumbs.db

## Folder config file
Desktop.ini

## Recycle Bin used on file shares
$RECYCLE.BIN/

## Windows Installer files
*.cab
*.msi
*.msm
*.msp

## Windows shortcuts
*.lnk

## Log files
*.log

## Database files
*.mdf
*.ldf

## App Settings
appsettings.Development.json